.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

a:hover {
  text-decoration: unset;
  color: unset;
}

.react-calendar__tile--now {
  background: lightblue !important;
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend{
  color: white !important;
}

.react-calendar__month-view__days__day--weekend {
  color: darkolivegreen !important;
}
